
.text-product {
    background-color: #F1EDEA;
    color: #45413e;
    padding: 60px 60px 0 60px;
    font-size: 12px;
    text-align: center;
}

.text-product h1 {
    overflow: hidden;
    text-align: center;
    font-weight: 900;
}
  
.text-product h1:before,
.text-product h1:after {
    background-color: #7c7a79;
    content: "";
    display: inline-block;
    height: 2px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    opacity: 0.1;
}
  
.text-product h1:before {
    right: 30px;
    margin-left: -50%;
}
  
.text-product h1:after {
    left: 30px;
    margin-right: -50%;
}