/* --------------------- services products -------------------------*/

.product-container--services, .product-container--services1 {
    background-color: #F1EDEA;
    display: inline-block;
    height: auto;
    margin: 0;
    color: #45413e;
    font-size: 16px;
    position: relative;
    padding: 40px 60px;
    font-weight: 300; 
    
}


.bt-bg--services {
    background-color: #F1EDEA;
    padding: 0 60px 80px 60px;
    text-align: center;

    .load-button {
    display: inline-block;        
    background-color: #85BC23;
    height: 40px;
    border: 1px solid  white;
    border-radius: 30px;
    color: white;
    padding: 10px 30px 10px 30px;
    font-weight: 300;
    cursor: pointer;
    text-align: center;

    &:hover {
        color: #85BC23;
        background: white;
        border: 1px solid #85BC23;
    }

    }

    svg {
        width: 14px;
        margin-left: 10px;
    }
}